.wrapperHome {
    padding: 1rem 0;
}

.wrapperHome__ul {
    list-style: none;
}

.wrapperHome__ul-list {
    margin-bottom: 3rem;
}

.generic__text {
    color: var(--white);
    font-size: 2rem;
    font-weight: bold;
}

.generic__button {
    background: var(--white);
    border-radius: .3rem;
    padding: .8rem 1.4rem;
    font-weight: bold;
    color: rgb(0 0 0 / 57%);
    transition: .3s;
    cursor: pointer;
    margin-top: 1rem;
}

.generic__button:hover {
    color: rgb(0 0 0 / 90%);
}

@media screen and (min-width: 800px) {
    .wrapperHome__ul-list {
        margin-bottom: 9rem;
    }
}