.select__ul {
    list-style: none;
    background: rgb(255 255 255 / 37%);
    border-radius: .5rem;
    overflow: hidden;
}

.select__ul-list {
    transition: .3s;
    background: transparent;
}

.select__ul-list:hover {
    transition: .3s;
    background: rgb(255 255 255 / 37%);
}

.select__ul-button {
    display: flex;
    padding: .3rem .5rem .3rem 0;
    background: transparent;
    width: 100%;
    color: var(--white);
    cursor: pointer;
    align-items: center;
}

.select__ul-button span {
    flex-basis: 30px;
    font-size: .6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}