.breadCrumbs__button {
  background: transparent;
  display: flex;
  align-items: center;
  gap: .2rem;
  color: var(--white);
  cursor: pointer;
  text-decoration: none;
}
.breadCrumbs__button i {
  font-size: 1.5rem;
}
