.contFigure {
    display: grid;
    justify-content: center;
}

.figure__pokemon {
    display: grid;
    justify-content: center;
    width: 100%;
    z-index: 2;
    gap: 20px;
    grid-template-columns: 1fr;
}

.figure__pokemon-img {
    height: auto;
    width: 200px;
}

.figure__pokemon-figcaption {
    margin-top: 2rem;
    text-align: center;
}

.figure__pokemon-name {
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    line-height: 60px;
    color: var(--white);
    text-transform: capitalize;
}

.figure__pokemon-number {
    font-size: 15vmax;
    color: rgba(255, 255, 255, 0.18);
    user-select: none;
    right: 0;
    top: 20%;
    z-index: 1;
    font-weight: 900;
    text-align: center;
    left: 0;
}

@media screen and (min-width: 800px) {
    .figure__pokemon {
        grid-template-columns: 1fr 1fr;
        gap: 200px;
    }
    .figure__pokemon-number {
        top: 50%;
        transform: translateY(-50%);
    }
}